<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-waste Management </title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            /* background-image: linear-gradient(to bottom right,powderblue,purple); */
            background-image: url("images/background.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .container{
            margin:0 auto;
            width: 100%;
            height: 600px;
            display: flex;
            box-sizing: border-box;
            padding: 10px; 

        }
        .heading{
            width: 18%;
            height: 130px;
            text-shadow:10px 18px 18px gray;
            color: white;
            background: rgba(35, 36, 36, 0.61);
            padding: 15px;
        }
        .heading h1{
            text-shadow:10px 18px 18px black;
            color: white;
        }
        .info{
            width: 40%;
            height: 400px;
            padding: 10px;
            margin:10px;
            margin-top: 30px;
            background: rgba(35, 36, 36, 0.61);
            box-sizing: border-box;
            box-shadow: 5px 5px 18px gray;
            border-radius: 5px;
            color: white;
        }
        .info p{
            margin: 8px;
        }
        .form{
            padding: 10px;
            margin: 10px;
            /* background: rgba(241, 155, 241, 0.514);
            box-sizing: border-box;
            box-shadow: 10px 15px 20px gray;
            border-radius: 5px; */
        }
        .form a{
            text-decoration: none;
            padding: 10px;
            color: white;
            font-size: 20px;
            /* background-color: rgb(165, 10, 165); */
            /* border-bottom: 1px solid gray; */
        }

        .form li{
            list-style: none;
            float: right;
            margin: 10px;
            padding: 10px;
            /* border: 1px solid gray;
            border-radius:2px;
            background-color: rgba(128, 0, 128, 0.5); */
        }

        li:hover{
            background: rgba(35, 36, 36, 0.445);
            text-decoration: underline; 
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="heading">
            <h1>E-Waste Management Application</h1>
        </div>
        <div class="info">
            <p>
                Industrial revolution that started during middle of 18th century and 
            continued to flourish throughout 19th and 20th centuries has brought in lot of changes in the way we live. 
            Industrial production has moved away from methods of producing by hand towards more sophisticated and 
            automated methods.
            </p>
            <p>
                Research and development in every facet of the industrialization gained momentum and 
            many products were introduced into the market. 
            With the advent of electrical and electronics technology, 
            new set of products have hit the markets.
            </p>
            <p>
                Alongside of these developments came the disadvantages and challenges. Rampant production and 
            usage of electronic components have built up huge piles of debris which is termed as <i>‘electronic waste’</i> or <i>‘e-waste’</i>.
            </p>
            <p>
                Several government agencies, voluntary organizations, individual scientists and 
                subject matter experts have came together and brainstormed about devising safe methods of disposal of e-waste.
                 The collective efforts of them have shaped up as <i>‘E-waste Management’</i>.
            </p>
            
            
            
        </div>
        <div class="form">
            <ul>
                <li><a href="/">Help</a></li>
                <li><a href="/reg">Registration</a></li>
                <li><a href="/employees/new">Login</a></li> 
            </ul>
        </div>
    </div>
</body>
</html>