<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-waste Management</title>
</head>
<body>

    <a href="/employees/new">Add new member</a>
    
    <% employees.forEach(function(employee){ %>
        <li>
            username : <%= employee.username %>
            <br>
            password : <%= employee.password %>
            <br>
            applicant : <%= employee.applicant %>
        </li>
   <% }) %>

</body>
</html>